.body-middle {
  border-color: #c4c4c4;
  border-style: solid;
  min-height: 90vh;
  text-align: center;
}
.body-middle-content {
  border-color: blanchedalmond;
  border-style: solid;
  min-height: 80vh;
}

.footer-logo {
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: xx-large;
}
.footer-links {
  margin-left: 20%;
  margin-right: 20%;
}
.footer-about {
  margin-top: 10%;
}
.footer {
  background-color: #212121;
}
