.body {
  width: 100%;
  border-color: greenyellow;
  border-style: solid;
}
.body-head {
  border-color: turquoise;
  border-style: solid;
  height: 10vh;
}
.body-head-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #c4c4c4;
  margin-left: 10vh;
  margin-right: 40vh;
  margin-top: 4vh;
}

.body-middle {
  min-height: 80vh;
  text-align: center;
}
.body-footer {
  border-color: black;
  border-style: solid;
  min-height: 10vh;
}
